:before,:after {
  box-sizing: border-box;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(0 0 0);
}

/* html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
} */

body {
  margin: 0;
  line-height: inherit;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
} */

button,[type=button] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

h1 {
  margin: 0;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fixed {
  position: fixed;
}

.margin-0 {
  inset: 0;
}

.contentCenter {
  margin-left: auto;
  margin-right: auto;
}

.comment-while {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.imgWidth {
  width: 85%;
}

.flex-col {
  flex-direction: column; /* 積み重なるように配置 */
}

.buttonCenter {
  align-items: center;
}

.roundedCorner {
  border-radius: .25rem;
}

.imgRoundedCorner {
  border-radius: .5rem;
}

.border {
  border-width: 1px;
}

.button-bgColor {
  background-color: rgb(0 0 0);
}

.outerMargin-bgColor {
  background-color: rgb(44 120 115);
}

.margin-bgColor {
  background-color: rgb(3 255 205);
}

.contentPosition {
  padding-left: 1rem;
  padding-right: 1rem;
}

.outerMargin {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.buttonMargin {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: .5rem;
}

.innerMargin-top {
  padding-top: 2.5rem;
  /* padding-bottom: 4rem; */
}

.outerMargin-top {
  padding-top: 1.5rem;
  /* padding-bottom: 4rem; */
}

.imgPosition {
  padding-bottom: 6.5rem;
}

.imgPosition-top {
  margin-top: -5rem;
}

.textCenter {
  text-align: center;
}

.titleSize {
  font-size: 3rem;
  line-height: 1;
}

.textSize {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.titleSemibold {
  font-weight: 700;
}

.fontSemibold {
  font-weight: 600;
}

.textColor-inversion {
  color: rgb(249 250 251);
}

.textColor {
  color: rgb(17 24 39);
}

@media (max-width: 640px) { /* レスポンシブ対応コード(スマホサイズ) */
  .sm\:outerMargin-top {
    padding-top: 1rem;
    /* padding-bottom: 4rem; */
  }

  .sm\:innerMargin-top {
    padding-top: 3rem;
    /* padding-bottom: 4rem; */
  }

  .sm\:outerMargin {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:titleSize {
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:textSize {
    font-size: 1rem;
    /* line-height: 1.75rem; */
  }

  .sm\:buttonMargin {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .5rem;
  }
}

@media (min-width: 640px) {
  .sm\:outerMargin {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:comment-while {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sm\:titleSize {
    font-size: 3.75rem;
    line-height: 1;
  }

  .sm\:textSize {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .md\:contentPosition {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:outerMargin {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:outerMargin-top {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:imgPosition {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .lg\:imgPosition-top {
    margin-top: -10rem;
  }

  .lg\:contentPosition {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:imgPosition {
    padding-bottom: 14rem;
  }

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .xl\:textWidth {
    max-width: 50rem;
  }

  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}