/* *,:before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
} */

body {
  margin: 0;
  line-height: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h3,p {
  margin: 0;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  max-width: 100%;
}

.contentCenter {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.imgHeight-11rem {
  height: 11rem;
}

.imgHeight-16rem {
  height: 16rem;
}

.imgWidth-100 {
  width: 100%;
}

.division-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gridGap {
  gap: 1.5rem;
  padding-top: 1.5rem;
}

.releaseDate-while>:not([hidden])~:not([hidden]) {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* .contentBetween>:not([hidden])~:not([hidden]) {
  margin-top: 1.5rem;
} */

.img404-bgColor {
  background-color: rgb(255 255 255);
}

.middleMargin-bgColor {
  background-color: rgb(55 180 43);
}

.outerMargin-bgColor {
  background-color: rgb(0 150 255);
}

.replaceElement {
  object-fit: fill;
}

.innerMargin {
  padding: 1rem;
}

.outerMargin {
  padding: 1.5rem 1.5rem;
}

.titleSize {
  font-size: 1.2rem;
  line-height: 2rem;
}

.releaseDate {
  font-size: 0.75rem;
  line-height: 1rem;
}

.titleSemibold {
  font-weight: 600;
}

.middleMargin-textColor {
  color: rgb(243 244 246);
}

.releaseDate-textColor {
  color: rgb(156 163 175);
}

.underline {
  text-decoration-line: underline;
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline;
}

.group:focus .group-focus\:underline {
  text-decoration-line: underline;
}

@media (max-width: 640px) {
  .container {
    max-width: 42rem;
  }

  .line-break {
    display: block; /* 画面サイズによって改行の有無を変更可能 ※「none」で無効化*/
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 42rem;
  }

  .sm\:grid-rows-6 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

  .sm\:imgHeight-24rem {
    height: 24rem;
  }

  .sm\:imgWidth-100 {
    max-width: 100%;
  }

  /* .sm\:contentBetween>:not([hidden])~:not([hidden]) {
    margin-top: 3rem;
  } */

  .sm\:titleSize {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:division-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .line-break {
    display: none; /* 画面サイズによって改行の有無を変更可能 ※「none」で無効化*/
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 40rem;
  }

  .lg\:gridColumn-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:gridColumn-7 {
    grid-column: span 7 / span 7;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:division-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 40rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 40rem;
  }
}