/* *,:before,:after {
  box-sizing: border-box;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(0 0 0);
} */

body {
  margin: 0;
  line-height: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h3,p {
  margin: 0;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  max-width: 100%;
}

.contentCenter {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.imgHeight-11rem {
  height: 11rem;
}

.imgHeight-16rem {
  height: 16rem;
}

.imgWidth-100 {
  width: 100%;
}

.division-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gridGap {
  gap: 1.5rem;
  /* padding-top: 3rem; */
}

.releaseDate-while>:not([hidden])~:not([hidden]) {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.img404-bgColor {
  background-color: rgb(107 114 128);
}

.middleMargin-bgColor {
  background-color: rgb(85 246 102);
}

.outerMargin-bgColor {
  background-color: rgb(10 193 0);
}

.replaceElement {
  object-fit: cover;
}

.innerMargin {
  padding: 1.5rem;
}

.outerMargin {
  padding: 1.5rem 1.5rem;
}

.titleSize {
  font-size: 1.2rem;
  line-height: 2rem;
}

.releaseDate {
  font-size: .75rem;
  line-height: 1rem;
}

.titleSemibold {
  font-weight: 600;
}

.middleMargin-textColor {
  color: rgb(243 244 246);
}

.releaseDate-textColor {
  color: rgb(156 163 175);
}

.underline {
  text-decoration-line: underline;
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline;
}

.group:focus .group-focus\:underline {
  text-decoration-line: underline;
}

.main_title {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}

@media (max-width: 640px) { /* レスポンシブ対応コード(スマホサイズ) */
  .main_title {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .line-break { /* 画面サイズによって改行の有無を変更可能 */
    display: none;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 42rem;
  }

  .sm\:grid-rows-6 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

  .sm\:imgHeight-24rem {
    height: 24rem;
  }

  .sm\:imgWidth-100 {
    max-width: 100%;
  }

  .sm\:titleSize {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:division-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 64rem;
  }

  .lg\:gridColumn-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:gridColumn-7 {
    grid-column: span 7 / span 7;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:division-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 72rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 72rem;
  }
}